<div class="row justify-content-center" style="background-color: lightgrey; overflow-y: auto; position: absolute; width: 100%;">
    <div class="col-8">
        <div *ngIf="relacion">
            <h2><span>Relacion</span> {{relacion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Amigo Id</span></dt>
                <dd>
                    <span>{{relacion.amigoId}}</span>
                </dd>
                <dt><span>Estado</span></dt>
                <dd>
                    <span>{{relacion.estado}}</span>
                </dd>
                <dt><span>Fecha</span></dt>
                <dd>
                    <span>{{relacion.fecha}}</span>
                </dd>
                <dt><span>Usuario</span></dt>
                <dd>
                    <div *ngIf="relacion.usuario">
                        <a [routerLink]="['/usuario', relacion.usuario?.id, 'view']">{{relacion.usuario?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/relacion', relacion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
