.formCard {
    width: 50%;
    min-width: 500px;
    margin: 10px auto;
}

.ng-invalid:not(form) {
    border-left: 0px;
}

@media screen and (max-width: 1000px) {
    .formCard {
        width: 100%;
        margin: 10px auto;
        min-width: auto;
    }
}
