<div style="margin: auto;">
    <form role="form" *ngIf="account" style="text-align: center;" (ngSubmit)="changePassword()" #passwordForm="ngForm">
        <mat-card class="formCard">
            <mat-card-header>
                <mat-card-title>Cambio de contraseña</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field appearance="standard" style="width: 80%;">
                    <mat-label>Actual Contraseña</mat-label>
                    <input matInput type="password" id="password" name="password" #password="ngModel" placeholder="Tu contraseña"
                           [(ngModel)]="currentPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="password.dirty && password.invalid">
                        <mat-error *ngIf="password.hasError('required')">
                            Tu contraseña actual es requerida.
                        </mat-error>
                        <mat-error *ngIf="password.hasError('minlength')">
                            Tu contraseña actual debe tener por lo menos 4 caracteres
                        </mat-error>
                        <mat-error *ngIf="password.hasError('maxlength')">
                            Tu contraseña actual no puede ser mayor de 50 caracters.
                        </mat-error>
                    </div>
                </mat-form-field>
                <mat-form-field appearance="standard" style="width: 80%;">
                    <mat-label>Nueva Contraseña</mat-label>
                    <input matInput type="password" id="newPassword" name="password" #newPasswordInput="ngModel" placeholder="Tu contraseña"
                           [(ngModel)]="newPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="newPasswordInput.dirty && newPasswordInput.invalid">
                        <mat-error *ngIf="newPasswordInput.hasError('required')">
                            Tu contraseña actual es requerida.
                        </mat-error>
                        <mat-error *ngIf="newPasswordInput.hasError('minlength')">
                            Tu contraseña actual debe tener por lo menos 4 caracteres
                        </mat-error>
                        <mat-error *ngIf="newPasswordInput.hasError('maxlength')">
                            Tu contraseña actual no puede ser mayor de 50 caracters.
                        </mat-error>
                    </div>
                </mat-form-field>
                <div style="width: 80%; text-align: left; margin: auto;">
                    <jhi-password-strength-bar [passwordToCheck]="newPassword"></jhi-password-strength-bar>
                </div>
                <mat-form-field appearance="standard" style="width: 80%;">
                    <mat-label>Confirmación de nueva contraseña</mat-label>
                    <input matInput type="password" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Confirma la contraseña"
                           [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <mat-error *ngIf="confirmPasswordInput.hasError('required')">
                            Contraseña de confirmación es requerida.
                        </mat-error>
                        <mat-error *ngIf="confirmPasswordInput.hasError('minlength')">
                            Contraseña de confirmación debe tener por lo menos 4 caracteres
                        </mat-error>
                        <mat-error *ngIf="confirmPasswordInput.hasError('maxlength')">
                            Contraseña de confirmación no puede ser mayor de 50 caracters.
                        </mat-error>
                    </div>
                </mat-form-field>
            </mat-card-content>
            <mat-dialog-actions align="end">
                <button mat-button color="primary" type="submit" [disabled]="!passwordForm.form.valid">Guardar</button>
            </mat-dialog-actions>
        </mat-card>
    </form>
</div>

<!--<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 *ngIf="account">Password for [<b>{{account.login}}</b>]</h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Password changed!</strong>
            </div>
            <div class="alert alert-danger" *ngIf="error" >
                <strong>An error has occurred!</strong> The password could not be changed.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                The password and its confirmation do not match!
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm">

                <div class="form-group">
                    <label class="form-control-label" for="currentPassword">Current password</label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword" #currentPasswordInput="ngModel"
                           placeholder="Current password"
                           [(ngModel)]="currentPassword" required>
                    <div *ngIf="currentPasswordInput.dirty && currentPasswordInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="currentPasswordInput.errors.required">
                            Your password is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="newPassword">New password</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" #newPasswordInput="ngModel"
                    placeholder="New password"
                           [(ngModel)]="newPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="newPasswordInput.dirty && newPasswordInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="newPasswordInput.errors.required">
                            Your password is required.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="newPasswordInput.errors.minlength">
                            Your password is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="newPasswordInput.errors.maxlength">
                            Your password cannot be longer than 50 characters.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="newPassword"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                    placeholder="Confirm the new password"
                           [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.required">
                            Your confirmation password is required.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.minlength">
                            Your confirmation password is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>-->
