.searchOptionBarra {
    min-height: 60px;
    height: 70px !important;
    line-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bottomSearchFilter {
    line-height: 25px;
    font-size: 12px;
}
